<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0" />
    <title>开心打卡</title>
    <!-- 引入 WeUI -->
    <link rel="stylesheet" th:href="@{/static/plug-in/weui/_css/weui.min.css}"/>
    <link rel="stylesheet" th:href="@{/static/plug-in/weui/_css/example.css}"/>
</head>
<body>
<div th:include="wxmp/wxjssdk"></div>


<div th:include="wxmp/sign/tabbar"></div>
<script th:src="@{/static/plug-in/weui/_js/weui.min.js}"></script>
<script>
    /*<![CDATA[*/

    /*]]>*/
</script>
</body>
</html>