<div class="page tabbar js_show">
    <div class="page__bd" style="height: 100%;">
        <div class="weui-tab">
            <div class="weui-tab__panel">

            </div>
            <div class="weui-tabbar">
                <a href="javascript:;" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <img src="http://cdn.falvboke.com/images/1/2018/05/rF7IIyc65i07qqY160560y1fFnu17r.png" alt="" class="weui-tabbar__icon">
                    </span>
                    <p class="weui-tabbar__label">参与挑战</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item">
                    <img src="http://cdn.falvboke.com/images/1/2018/05/eRjJriUSvTRPgtIj2JgCRicIcpJucr.png" alt="" class="weui-tabbar__icon">
                    <p class="weui-tabbar__label">个人中心</p>
                </a>
                <a href="javascript:;" class="weui-tabbar__item">
                    <span style="display: inline-block;position: relative;">
                        <img src="http://cdn.falvboke.com/images/1/2018/05/atZU6UQTg99LTUCTiXpZuf6bIi9Cec.png" alt="" class="weui-tabbar__icon">
                    </span>
                    <p class="weui-tabbar__label">参与必读</p>
                </a>
            </div>
        </div>
    </div>
</div>