<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>补打卡</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="adminIndex">每日统计</a></li>
    <li role="presentation" class="active"><a href="adminClock">补打卡</a></li>
    <li role="presentation"><a href="entIndex">审核资金</a></li>
</ul>
<div id="web" class="container-fluid">
    <div class="form-group">
        <label for="exampleInputEmail2">手机号</label>
        <input type="number" class="form-control" id="exampleInputEmail2" placeholder="手机号" v-model="mobile">
    </div>
    <button type="button" class="btn btn-primary btn-block" v-on:click="findUser">查询</button>
    <div style="height: 20px;"></div>
    <div class="table-responsive">
        <table class="table table-bordered">
            <tr>
                <td>微信名</td>
                <td>{{name}}</td>
            </tr>
            <tr>
                <td>手机号</td>
                <td>{{userMobile}}</td>
            </tr>
            <tr>
                <td>openid</td>
                <td>{{openid}}</td>
            </tr>
            <tr>
                <td>是否允许打卡</td>
                <td>{{type}}</td>
            </tr>
            <tr>
                <td>押金</td>
                <td>{{useBalance0}}</td>
            </tr>
            <tr>
                <td>上次打卡时间</td>
                <td>{{clockDate}}</td>
            </tr>
            <tr>
                <td>上次充值时间</td>
                <td>{{orderDate}}</td>
            </tr>
            <tr>
                <td>连续打卡次数</td>
                <td>{{continuousClockNum}}</td>
            </tr>
        </table>
    </div>
    <button type="submit" class="btn btn-primary btn-block" v-on:click="buClock">补打卡</button>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    var web = new Vue({
        el: '#web',
        data: {
            name: '',
            headImg: 'https://zaoqi.chuangkapai.com/addons/hai105_daka/static/img/headerimg.png',
            userMobile: '',
            mobile: '',
            openid: '',
            type: '',
            useBalance0: '',
            clockDate: '',
            orderDate: '',
            continuousClockNum: ''
        },
        methods:  {
            findUser: function () {
                axios({
                    method: 'post',
                    url: 'getUserByMobile',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    params: {
                        mobile: web.mobile
                    }
                }).then(function (res) {
                    let data = res.data.resultData;
                    if (res.data.resultCode === "1") {
                        web.name = data.name;
                        web.userMobile = data.mobile;
                        web.openid = data.openid;
                        web.type = data.type === "1" ? "允许" : "不允许";
                        web.useBalance0 = data.useBalance0;
                        web.clockDate = data.clockDate === null ? '' : new Date(data.clockDate).toLocaleString();
                        web.orderDate = data.orderDate === null ? '' : new Date(data.orderDate).toLocaleString();
                        web.continuousClockNum = data.continuousClockNum;
                    }
                });
            },
            buClock: function () {
                if (web.openid === '' || web.openid.length < 1) {
                    alert("openid is empty");
                    return;
                }
                axios({
                    method: 'post',
                    url: 'helpUserClock',
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8'
                    },
                    params: {
                        openid: web.openid
                    }
                }).then(function (res) {
                    let data = res.data.resultData;
                    if (res.data.resultCode === "1") {
                        alert(data.resultMsg);
                    }
                });
            }
        }
    });
</script>
</body>
</html>